h1 {
  background-color: aqua;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 45pt;
}

.intro {
  color: red;
  font-size: 2rem;
}
.btn {
  background-color: #4caf50;
  border: solid 1px #4caf50;
}

img {
  width: 150px;
  height: 150px;
}
.profile-pic:hover {
  cursor: circle;
} /* Custom cursor shape */
@media screen and (pointer: fine) {
  .profile-pic:hover {
    cursor: url("pic1.png"), auto; /* Use a custom cursor image */
  }
}

  .profile-pic:hover {
    cursor: url('path/to/circle-cursor.png'), auto; /* Use a custom cursor image */
  }
